.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 25px 18px auto 18px 25px;
  grid-auto-rows: 34px;
  border-bottom: 1px solid #e8e8e8;
}
.wrapper > i {
  cursor: pointer;
}
.prev-year {
  margin-left: 7px;
}
.prev-year::after {
  content: '\AB';
  display: block;
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.prev-month::after {
  content: '\2039';
  display: block;
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.next-year {
  margin-right: 7px;
}
.next-year::after {
  content: '\BB';
  display: block;
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.next-month::after {
  content: '\203A';
  display: block;
  width: 100%;
  height: 100%;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.text {
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}
.link {
  display: inline-block;
  cursor: pointer;
  margin: 0 3px;
  letter-spacing: 1px;
}
