.wrapper {
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 30px);
  border-bottom: 1px solid #e8e8e8;
}
.normal {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  margin: 3px 7px;
  border: 1px solid transparent;
}
.normal:hover {
  background-color: #e6f7ff;
}
.week:hover {
  background-color: #fff;
  cursor: default;
}
.next, .prev {
  color: rgba(0, 0, 0, 0.25);
}
.current {
  border-color: #1890ff;
  font-weight: bold;
  color: #1890ff;
  border-radius: 2px;
}
.selected {
  background-color: #1890ff;
  color: #fff;
  border: 1px solid transparent;
  font-weight: bold;
  border-radius: 2px;
}
.selected:hover {
  background-color: #1890ff;
}